<%# locals: changes (array of ImportRule::TransactionScope::Change) %>
<% reassigns = changes.reject { |change| change.action == :exclude } %>
<% excludes = changes.select { |change| change.action == :exclude } %>
<% duplicate_count = reassigns.count { |change| change.merge_candidate } %>

<% if reassigns.any? %>
  <div class="ir-change-group">
    <div class="ir-change-group__head">
      <span class="ir-change-group__title">Reassign to a different account</span>
      <span class="ir-change-group__count">
        <%= pluralize(reassigns.size, "transaction") %><%= " · #{pluralize(duplicate_count, "possible duplicate")}" if duplicate_count.positive? %>
      </span>
    </div>
    <% reassigns.each do |change| %>
      <%= render "change_row", change: change %>
    <% end %>
  </div>
<% end %>

<% if excludes.any? %>
  <div class="ir-change-group">
    <div class="ir-change-group__head">
      <span class="ir-change-group__title">Exclude from balances</span>
      <span class="ir-change-group__count"><%= pluralize(excludes.size, "transaction") %></span>
    </div>
    <% excludes.each do |change| %>
      <%= render "change_row", change: change %>
    <% end %>
  </div>
<% end %>
