<h1>Manage Simplefin Connection</h1>
<p>Connected to Simplefin since <%= @simplefin_connection.created_at.strftime("%B %d, %Y") %></p>

<p>Last refreshed at: <%= @simplefin_connection.refreshed_at ? @simplefin_connection.refreshed_at.strftime("%B %d, %Y %I:%M %p") : "Never" %></p>

<h2>Linked Accounts</h2>
<table>
  <tr>
    <th>Organization</th>
    <th>Account Name</th>
    <th>Linked Account</th>
  </tr>
  <% @simplefin_connection.accounts.each do |sf_account| %>
    <tr>
      <td><%= sf_account.org&.[]("name") %></td>
      <td><%= sf_account.name %></td>
      <td><%= render partial: "simplefin_connections/link_form", locals: { sf_account: sf_account } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Disconnect from Simplefin", simplefin_connection_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to disconnect from Simplefin?" } %></p>
