<div id="<%= dom_id account %>">
  <div>
    <strong>Name:</strong>
    <%= account.name %>
  </div>

  <div>
    <strong>Kind:</strong>
    <%= account.kind.humanize %>
  </div>

  <div>
    <strong>Currency:</strong>
    <%= account.currency.code %>
  </div>

  <div>
    <strong>Opening Balance:</strong>
    <% if account.opening_balance_transaction %>
      <%= transaction_amount_with_currency(account.opening_balance_transaction) %>
      on
      <%= account.opening_balance_transaction.transacted_at.strftime("%Y-%m-%d %H:%M") %>
    <% else %>
      N/A
    <% end %>
  </div>

</div>
