<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.select :kind, Account.kinds.keys.map { |k| [k.humanize, k] } %>
  </div>

  <div>
    <%= form.label :currency_id, style: "display: block" %>
    <%= form.select :currency_id, Currency.all.collect { |c| [c.code, c.id] } %>
  </div>

  <%= form.fields_for :opening_balance_transaction do |opening_balance_form| %>
    <div>
      <%= opening_balance_form.label :amount_minor, "Opening Balance Amount", style: "display: block" %>
      <%= opening_balance_form.text_field :amount_minor %>
    </div>

    <div>
      <%= opening_balance_form.label :transacted_at, "Opening Balance Date", style: "display: block" %>
      <%= opening_balance_form.datetime_select :transacted_at %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
