<h1>Manage SimpleFIN Connection</h1>
<p>Connected to SimpleFIN since <%= @simplefin_connection.created_at.strftime("%B %d, %Y") %></p>

<p>Last refreshed
  at: <%= @simplefin_connection.refreshed_at ? @simplefin_connection.refreshed_at.strftime("%B %d, %Y %I:%M %p") : "Never" %></p>
<p><%= button_to "Enqueue Refresh", refresh_simplefin_connection_path %></p>

<% if @simplefin_connection.account_errors.any? %>
  <h2>Account Errors</h2>
  <p>SimpleFIN reported the following errors during the last refresh:</p>
  <ul>
    <% @simplefin_connection.account_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>Head to <a href="https://beta-bridge.simplefin.org/my-account">My Account on SimpleFIN</a> to resolve
    them.</p>
<% end %>

<h2>Linked Accounts</h2>
<table>
  <tr>
    <th>Organization</th>
    <th>Account Name</th>
    <th>Linked Account</th>
  </tr>
  <% @simplefin_connection.accounts.each do |sf_account| %>
    <tr>
      <td><%= sf_account.org&.[]("name") %></td>
      <td><%= sf_account.name %></td>
      <td><%= render partial: "link_form", locals: { sf_account: sf_account } %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= button_to "Disconnect from SimpleFIN", simplefin_connection_path, method: :delete, data: { turbo_confirm: "Are you sure you want to disconnect from SimpleFIN?" } %>
</p>
