<%= form_with(model: transaction, data: {
  controller: "transactions--form",
  action: "transactions--form#clearError",
  transactions__row_target: "form"
}, html: { autocomplete: "off" }) do |form| %>
  <div class="row" data-action="keydown.esc->transactions--row#cancelEdit">
    <div>
      <%= form.label :transacted_at, "Date" %>
      <%= form.datetime_field :transacted_at, include_seconds: false %>
    </div>

    <div class="field-type">
      <%= transaction_type_indicator(transaction, data: { transactions__form_target: "type" }) %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :src_account_id, "From" %>
      <%= form.select :src_account_id,
        grouped_account_options_for_select(src_accounts, Account::SOURCEABLE, selected_key: transaction.src_account_id),
        { include_blank: "From…" },
        data: {
          action: "transactions--form#updateEnabledAccounts transactions--form#updateTypeFromSelectedAccounts",
          transactions__form_target: "srcAccount"
        } %>
    </div>

    <div>
      <%= form.label :dest_account_id, "To" %>
      <%= form.select :dest_account_id,
        grouped_account_options_for_select(dest_accounts, Account::DESTINABLE, selected_key: transaction.dest_account_id),
        { include_blank: "To…" },
        data: {
          action: "transactions--form#updateEnabledAccounts transactions--form#updateCurrency transactions--form#updateTypeFromSelectedAccounts",
          transactions__form_target: "destAccount"
        } %>
    </div>

    <div class="numeric">
      <%= form.label :amount %>
      <%= form.text_field :amount, data: { transactions__form_target: "amount" } %>
    </div>

    <div class="field-currency">
      <label>Currency</label>
      <span data-transactions--form-target="currency"><%= transaction.currency&.code.presence || "—" %></span>
    </div>

    <div>
      <%= form.label :category_id, "Category" %>
      <%= form.select :category_id, options_from_collection_for_select(categories, :id, :name), include_blank: true %>
    </div>

    <div class="boolean">
      <%= form.label :cleared %>
      <%= form.check_box :cleared %>
    </div>

    <div class="actions">
      <% if transaction.new_record? %>
        <%= form.submit "Create" %>
      <% else %>
        <%= form.submit "Save" %>
        <a href="#" data-action="transactions--row#cancelEdit transactions--form#clearError">Cancel</a>
      <% end %>

      <% if transaction.errors.any? %>
        <div class="error" data-controller="error" data-transactions--form-target="error">
          <button data-action="error#close" class="close">&times;</button>
          <h4>Transaction could not be saved:</h4>
          <ul>
            <% transaction.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
