<div id="<%= dom_id transaction %>">
  <div>
    <strong>Parent transaction:</strong>
    <%= transaction.parent_transaction_id %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= transaction.category.name if transaction.category %>
  </div>

  <div>
    <strong>Src account:</strong>
    <%= transaction.src_account.name %>
  </div>

  <div>
    <strong>Dest account:</strong>
    <%= transaction.dest_account.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= transaction.description %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= transaction_amount_with_currency(transaction) %>
  </div>

  <% if transaction.has_fx? %>
    <div>
      <strong>Fx amount:</strong>
      <%= transaction_fx_amount_with_currency(transaction) %>
    </div>

    <div>
      <strong>Fx currency:</strong>
      <%= transaction.fx_currency.code %>
    </div>
  <% end %>

  <div>
    <strong>Notes:</strong>
    <%= transaction.notes %>
  </div>

  <div>
    <strong>Split:</strong>
    <%= transaction.split %>
  </div>

</div>
