<!-- Show -->
<%= turbo_frame_tag transaction do %>
  <div class="transaction" data-controller="transactions--row" data-transactions--row-id-value="<%= transaction.id %>">

    <div class="row show">
      <div data-label="Date"><%= transaction.transacted_at&.strftime("%Y-%m-%d %I:%M %p") %></div>
      <div data-label="Type"><%= transaction_type_indicator(transaction) %></div>
      <div data-label="Description"><%= transaction.description %></div>
      <div data-label="From"><%= transaction.src_account&.name %></div>
      <div data-label="To"><%= transaction.dest_account&.name %></div>
      <div data-label="Amount" class="numeric"><%= transaction_amount_with_currency(transaction) %></div>
      <div data-label="Currency"><%= transaction.currency.code %></div>
      <div data-label="Category"><%= transaction.category&.name %></div>
      <div data-label="Cleared" class="boolean"><%= transaction.cleared_at ? "✓" : "" %></div>
      <div class="actions">
        <% if transaction.opening_balance? && transaction.opening_balance_target_account.present? %>
          <%= link_to "Edit Account", edit_account_path(transaction.opening_balance_target_account), data: { turbo_frame: "_top" } %>
        <% else %>
          <a href="#" data-action="transactions--row#edit">Edit</a>
        <% end %>
        <%= link_to "Delete", transaction, data: { turbo_method: :delete, turbo_confirm: "Delete this transaction?", turbo_frame: dom_id(transaction) } %>
      </div>
    </div>

    <!-- Edit -->
    <%= turbo_frame_tag dom_id(transaction, :edit), src: edit_transaction_path(transaction), loading: "lazy", class: "edit" do %>
      <div class="row">
        <div class="loading">Loading...</div>
      </div>
    <% end %>
  </div>
<% end %>
