<div id="<%= dom_id currency %>">
  <div>
    <strong>Name:</strong>
    <%= currency.name %>
  </div>

  <div>
    <strong>Kind:</strong>
    <%= currency.kind.capitalize %>
  </div>

  <div>
    <strong>Symbol:</strong>
    <%= currency.symbol %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= currency.code %>
  </div>

  <div>
    <strong>Decimal places:</strong>
    <%= currency.decimal_places %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= currency.active %>
  </div>

</div>
